@model IEnumerable<WebApplication2.Models.Post>

@{
    ViewBag.Title = "Blog";
}

<h2>Blog</h2>
<section id="filter">
    <form action="#" method="get">
        <h3>Filter posts</h3>
        <p>
            <label for="date">Date</label><input type="date" name="date"><br />
        </p>
        <p>
            <label for="name">Name</label><input type="text" name="name"><br />
        </p>
        <p>
            <label for="email">Email</label><input type="email" name="email"><br />
        </p>
        <p>
            <label for="text">Keywords</label><input type="text" name="keywords"><br />
        </p>
        <p>
            <label for="text">WordsNumber</label><input type="range" name="num" min="1" max="10"><br />
        </p>
        <p>
            <input type="submit" value="Filter"><br />
        </p>
    </form>
</section>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublishedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SiteUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Video)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th></th>
    </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublishedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SiteUrl)
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.Comments.Count)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Image)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Video)
                </td>
                <tr>
                    foreach (Comment item in item.Comments){
                        <td>
                            @Html.DisplayFor(modelItem => comment)
                        </td>
                    }
                </tr>
            <td>
                <form action="#" method="post">
                    <h3>Post a comment</h3>
                    <div>
                        <label for="name">Name</label>
                        <input name="name" id="name" type="text" required />
                    </div>
                    <div>
                        <label for="email">E-mail</label>
                        <input name="email" id="email" type="email" required />
                    </div>
                    <div>
                        <label for="website">Website</label>
                        <input name="website" id="website" type="url" />
                    </div>
                    <div>
                        <label for="comment">Comment</label>
                        <textarea name="comment" id="comment" required></textarea>
                    </div>
                    <div><input type="submit" value="Post comment" /></div>
                </form>
            </td>
        </tr>
    }
</table>