@model IEnumerable<WebApplication2.Models.Comment>


@{
    ViewBag.Title = "Manage Comments";
}

<h2>Manage Post Comments</h2>

<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.ActionLink("Delete", "DeleteComment", new { id = item.ID })
            </td>
        </tr>
    }
</table>

